/*-----------------------vars--------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
}
html {
  height: 100vh;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.logo__block {
  text-align: center;
  margin: 0px 20px 20px 20px;
}
/*--------------------header styles are here-----------------*/
.main__header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(39%, #ffffff), color-stop(40%, #b6b6b6), color-stop(60%, #b6b6b6), color-stop(61%, #ffffff), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 39%, #b6b6b6 40%, #b6b6b6 60%, #ffffff 61%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 39%, #b6b6b6 40%, #b6b6b6 60%, #ffffff 61%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 39%, #b6b6b6 40%, #b6b6b6 60%, #ffffff 61%, #ffffff 100%);
}
.header__top {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__email {
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.header__email .email__icon {
  margin-right: 10px;
}
.icon {
  width: 15px;
  height: 15px;
}
.icon svg {
  fill: #fff;
}
.header__logo {
  width: 385px;
  height: 130px;
  background-image: url("../../img/svg/Header-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.header__phone {
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.header__phone .phone__icon {
  margin-right: 10px;
}
.header__email a,
.header__phone a {
  color: #fff;
}
@media (max-width: 768px) {
  .main__header {
    padding: 20px 0 20px 0;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__email,
  .header__phone {
    color: #5a595a;
    font-size: 22px;
  }
  .header__logo {
    margin: 20px 0 20px 0;
  }
}
/*------------------------------------------------------------*/
/*------------------navigation styles are here----------------*/
.index__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #b6b6b6;
  min-height: 30px;
  -webkit-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.index__menu a {
  font-size: 16px;
  color: #fff;
  padding: 8px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.index__menu a.active {
  color: #6a6a6a;
  background-color: #fff;
}
.index__menu a:hover {
  color: #6a6a6a;
}
.menu__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu__list ul {
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user__list {
  margin-left: auto;
}
/*------------------navigation styles are here----------------*/
/*------------------------index__main starts here-----------*/
.index__main {
  padding: 50px 0 50px 0;
  background-image: url("../../img/jpg/Panorama main view blured.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__wrapper {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.index__slider {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 20px;
}
.slider__item {
  height: 100%;
  position: relative;
  padding: 20px;
  background-image: url("../../img/jpg/Panorama main view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider__item_2 {
  background-image: url("../../img/jpg/family room.jpg");
  background-position: center;
}
.slider__item_3 {
  background-image: url("../../img/jpg/Picture 1.jpeg");
  background-position: center;
}
.slide__title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 300;
}
.slide__signature {
  color: #fff;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
/*------------------------index__main ends here-----------*/
/*------------------------iabout-us__main starts here-----------*/
.about-us {
  background-image: url("../../img/svg/Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us .container {
  height: 100%;
}
.about-us__wrapper {
  height: 100%;
}
.about-us__slider {
  height: 100%;
}
.about-us__slide {
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider__image {
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  min-height: 490px;
  background-image: url("../../img/jpg/about-us-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}
.info__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.info__text {
  font-size: 18px;
  color: #454040;
}
.info__text p {
  padding: 10px;
  text-align: justify;
}
/*---------------------------------main gallery starts here-------------------------------*/
.main__gallery {
  background-image: url("../../img/svg/Group.svg");
}
.main__gallery .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery__wrapper {
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.gallery__item {
  margin: 5px;
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
  min-height: 215px;
  width: auto;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: 40px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery__item a {
  width: 100%;
  height: 100%;
}
.gallery__item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.page__switch {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.switch__btn {
  color: #000;
  font-size: 20px;
  padding: 0 20px;
  font-weight: 300;
}
.active__page {
  font-weight: bold;
}
/*---------------------------------main gallery starts here-------------------------------*/
/*---------------------------------main contacts  starts here-------------------------------*/
.main__contacts {
  background-image: url("../../img/svg/Group.svg");
}
.main__contacts .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contacts-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contacts__map,
.contacts__info {
  padding: 10px;
  width: 50%;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contacts__info a {
  color: #000;
}
.contacts__form {
  padding: 0 20px;
  text-align: center;
  margin-top: 20px;
}
.contacts__form legend {
  display: block;
}
.contacts__form input {
  width: 49%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}
.contacts__form textarea {
  width: 100%;
  border-radius: 5px;
}
.form__email {
  margin-left: auto;
}
/*---------------------------------main contacts  ends here-------------------------------*/
/*---------------------------------main feedback  starts here-------------------------------*/
.main__feedback {
  background-image: url("../../img/svg/Group.svg");
}
.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback__content {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}
.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.feedback__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.feedback__text {
  font-size: 18px;
  padding: 0 20px 0 20px;
}
.feedback__form {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.feedback__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*-------------------------------footer styles start here-----------------------------------*/
.main__footer {
  width: 100%;
  padding: 5px 0 5px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 40px;
  background-color: #b6b6b6;
  color: #fff;
  margin-top: auto;
  -webkit-box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.main__footer__wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.location {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
}
.socials__block {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.socials__block__item {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.socials__block__item svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.socials__block__item svg:hover {
  fill: #838383;
}
.contacts__block {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
}
