*{
	box-sizing: border-box;
	transition: 0.2s;
}
body{
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: #ccc;
}
/*common styles*/
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	display: inline-block;
	text-decoration: none;
}
.container{
	margin: 0 auto;
	max-width: 960px;
	padding: 0px 5px 0px 5px;
	outline: 1px solid red;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn{
	width: 140px;
	font-size: 14px;
	line-height: 24px;
	background-color: #000;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}
/*main-header starts here*/
.main_header{
	background-color: #000;
}
.main_header__menu{
	display: flex;
	justify-content: space-between;
}
.main_header__menu-list{
	display: flex;
}
.main_header__menu-list a, .main_header__menu a {
	padding: 25px 20px 25px 20px;
	color: #fff;
}
.main_header__menu-list li a:hover,
.main_header__menu a:hover{
background-color: #242424;
}
.main_header__user svg{
	margin-right: 10px;
	margin-bottom: -2px;
	fill: #4d4d4d;
}
.main_header__menu a:hover svg{
	fill: #fff;
}
/*main starts here*/
main{
	min-height: 300px;
	background-image: url(img/main-bg.png);
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 65px;
}
.main_logo{
	text-align: center;
	padding: 55px 0px 55px 0px;
}
.main_features{
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.main_features__item{
	flex-basis: 30%;
	text-align: center;
}
.main_features__item strong{
	font-size: 30px;
}
.main_features__item p{
	font-size: 14px;
	line-height: 24px;
}
.main_features__rhomba{
	width: 15px;
	height: 15px;
	background-color: #fff;
	transform: rotate(45deg);
	margin: 15px auto 20px;
}
/*main content starts here*/
.main_content__block,
.main_info{
	margin-top: 65px;
	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
	background-image: url(img/pattrn.jpg);
}
.main_news{
	flex-basis: 50%;
	padding-right: 40px;
}
.main_news h2, 
.main_slider h2, 
.main_info__contacts h2, 
.main_info__form h2{
	font-size: 30px;
	line-height: 42px;
}
.main_news p,
.main_info__contacts p,
.main_info__form p{
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
.main_news a{
	display: block;
	margin-top: 30px;
}
.main_slider,
.main_info__form{
	flex-basis: 50%;
	padding-left: 80px;
}
.main_slider__control{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
/*main-info starts here*/
.main_info{
	
}
.main_info__contacts{
	flex-basis: 50%;
}
.main_info__contacts a {
	margin-right: 14px;
	margin-top: 20px;
}
.main_info__form form input{
	border: 2px solid #000;
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 140px;
}
.main_info__form p{
	margin-bottom: 0px;
}
.main_form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main_form .input_block{
	flex-basis: 45%;
	margin-top: 15px;
}
.form_btn{
	margin-top: 20px;
	width: 100%;
}
/*footer starts here*/
.page_footer{
	background-color: #262626;
	color: #fff;
	padding: 50px 0px 40px 0px;
}
.page_footer__wrapper{
	display: flex;
	justify-content: space-around;
}
.footer-contacts{
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	width: 30%;
	flex-basis: 30%;
}
.footer-contacts a{
	color: #fff;
	text-decoration: underline;
}
.footer_social{
	text-align: center;	
	flex-basis: 20%;
}
.footer_social__wrapper{
	display: flex;
	justify-content: center;
}
.footer_social a{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #000;
	text-align: center;
	margin-left: 5px;
}
.footer-copyrights{
	flex-basis: 30%;
}
.footer-copyrights a{
	text-transform: uppercase;
}



