*{
	box-sizing: border-box;
}
body{
	font-family: 'PT Sans Narrow', sans-serif;
}

.container{
	max-width: 940px;
	outline: 1px solid red;
	margin: 0 auto;
}



/*header starts here*/
.main-header{
	background-color: #000;
	position: relative;
}
.main-header_menu{
	min-height: 72px;
	margin: 0;
	padding: 0 10px;
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: auto auto auto auto auto 200px;
	align-content: center;
	list-style: none;
}
.main-header_menu li a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 0;
	border-bottom: 2px solid #000;
	transition: all 0.5s;
}
.main-header_menu li a:hover{
	border-bottom: 2px solid #826550;
	color: #979797;
}
.menu-login{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}
.menu-login svg{
	transition: all 0.5s;
}
.menu-login:hover svg{
	text-align: right;
	fill: #979797;
}
.login_btn{
	margin-left: 10px;
}
/*mobile hidden blocks */
.header_mobile-logo{
	min-height: 85px;
	background-color: #000;
	background-image: url("../img/logotype-mobile.png");
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}
.header_mobile-open{
	min-height: 50px;
	background-color: #826550;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	display: none;
}
.header_mobile-open span{
	font-size: 18px;
	color: #fff;
	text-align: center;
	flex-grow: 1;
}
.menu_mobile-hidden{
	width: 70px;
	height: 50px;
	background-color: #826550;
	flex-grow: 0;

}
.menu_mobile-closed{
	width: 70px;
	height: 50px;
	background-color: #6a4d38;
	flex-grow: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.menu_opener{
	width: 35px;
	height: 4px;
	background-color: #fff;
	cursor: pointer;
	
}
.menu_opener::before{
	content: "";
	position: absolute;
	top: 12px;
	left: 18px;
	width: 35px;
	height: 4px;
	background-color: #fff;
}
.menu_opener::after{
	content: "";
	position: absolute;
	bottom: 12px;
	left: 18px;
	width: 35px;
	height: 4px;
	background-color: #fff;
}









/*media starts here*/
/*tablet breakpoint*/
@media screen and (min-width: 640px) and (max-width: 720px){
	.main-header_menu{
		grid-template-columns: repeat(6, 1fr);
	}
	.login_btn{
		display: none;
	}
}
/*mobile breakpoint*/
@media screen and (max-width: 639px){
	.main-header_menu{
		display: none;
		padding: 0;
		grid-template-columns: 250px;
		background-color: transparent;
		position: absolute;
		right: 0;
	}
	.main-header_menu li{
		background-color: #826550;
	}
	.main-header_menu li a{
		border-bottom: 2px solid #71543f;
	}
	.menu-login{
		background-color: #6a4d38;

	}



	.header_mobile-logo{
		display: block;
	}
	.header_mobile-open{
		display: flex;
	}

}