/*vars*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*common settings*/
.container {
  max-width: 960px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
  padding: 0 10px;
}
.grid {
  display: grid;
}
.btn {
  display: block;
  width: 180px;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8850f), to(#f7b313));
  background: linear-gradient(#e8850f, #f7b313);
  border-radius: 25px;
  border: 1px solid #f28b05;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  color: #fff;
  font-size: 0.875em;
}
.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7b313), to(#e8850f));
  background: linear-gradient(#f7b313, #e8850f);
}
/*main_header starts jhere*/
.main_header .grid,
.main_footer .grid {
  grid-template-columns: 175px 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-auto-rows: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_header .grid .header_descr p,
.main_footer .grid .header_descr p {
  font-size: 1.125em;
  font-style: italic;
}
.main_header .grid .header_social,
.main_footer .grid .header_social {
  text-align: center;
}
.main_header .grid .header_social p,
.main_footer .grid .header_social p {
  font-size: 0.750em;
  margin-bottom: 30px;
}
.main_header .grid .header_social ul,
.main_footer .grid .header_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_header .grid .header_social ul li,
.main_footer .grid .header_social ul li {
  margin-right: 8px;
}
.main_header .grid .header_contacts ul,
.main_footer .grid .header_contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main_header .grid .header_contacts ul li,
.main_footer .grid .header_contacts ul li {
  line-height: 1.250em;
}
.main_header .grid .header_contacts ul li:nth-child(1),
.main_footer .grid .header_contacts ul li:nth-child(1) {
  font-size: 0.750em;
}
.main_header .grid .header_contacts ul li:nth-child(2),
.main_footer .grid .header_contacts ul li:nth-child(2),
.main_header .grid .header_contacts ul li:nth-child(3),
.main_footer .grid .header_contacts ul li:nth-child(3) {
  font-size: 1.125em;
  font-weight: 700;
}
.main_header .grid .header_contacts ul li:nth-child(4),
.main_footer .grid .header_contacts ul li:nth-child(4) {
  font-size: 0.813em;
}
.main_header .grid .header_contacts ul li:nth-child(4) a,
.main_footer .grid .header_contacts ul li:nth-child(4) a {
  color: #de6504;
}
.main_header .grid .header_contacts ul li:nth-child(5),
.main_footer .grid .header_contacts ul li:nth-child(5) {
  font-size: 0.813em;
}
@media screen and (max-width: 576px) {
  .main_header .grid,
  .main_footer .grid {
    text-align: center;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    padding: 50px 0 50px 0;
  }
  .main_header .grid .header_contacts,
  .main_footer .grid .header_contacts {
    margin: 0 auto;
  }
  .main_header .grid .header_contacts .header_contacts__list,
  .main_footer .grid .header_contacts .header_contacts__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .main_header .grid .header_contacts .header_contacts__list li,
  .main_footer .grid .header_contacts .header_contacts__list li {
    margin-bottom: 10px;
  }
  .main_header .grid .header_descr p,
  .main_footer .grid .header_descr p {
    font-size: 1.3em;
    font-style: italic;
    padding: 0px 20px;
    margin: 30px 0 30px 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .main_header .grid,
  .main_footer .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    padding: 50px;
  }
  .main_header .grid .header_logo,
  .main_footer .grid .header_logo {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    margin-bottom: 30px;
  }
}
/*main_form starts here*/
.main_form {
  position: relative;
  background-color: #fff3df;
  background-image: url("../IMG/Triangle-1.png"), url("../IMG/Triangle-2.png"), url("../IMG/Cat-bg-1.jpg");
  background-position: top, bottom, left;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: 20px, 20px, 90%;
  margin-bottom: 50px;
}
.main_form::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-image: url("../IMG/paw.png");
  background-repeat: no-repeat;
}
.main_form .grid {
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 300px;
  padding: 20px 0;
  grid-gap: 10px;
}
.main_form .grid .main_form__title {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  text-align: right;
}
.main_form .grid .main_form__title h2 {
  font-size: 1.625em;
  font-weight: 700;
  margin-bottom: 20px;
}
.main_form .grid .main_form__title p {
  font-size: 1em;
  color: #393939;
}
.main_form .grid .main_form__field {
  padding: 10px;
  background-color: #fff;
  border: 3px solid #f9ddb0;
  text-align: center;
}
.main_form .grid .main_form__field h3 {
  font-size: 0.875em;
  font-weight: 700;
}
.main_form .grid .main_form__field p {
  font-size: 0.750em;
  font-weight: 700;
  margin-top: 5px;
}
.main_form .grid .main_form__field ul {
  margin-bottom: 5px;
}
.main_form .grid .main_form__field ul li {
  font-size: 0.750em;
  color: #242424;
}
.main_form .grid .main_form__field form input {
  text-align: center;
  padding: 12px;
  font-size: 0.750em;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  margin-top: 10px;
  outline: none;
}
.main_form .grid .main_form__field form button {
  margin: 10px auto 0 auto;
}
/*Feature_block starts gere*/
.feature_block .grid {
  padding: 50px 0 50px 0;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  background-image: url("../IMG/paw.png");
  background-repeat: no-repeat;
  background-position: top;
}
.feature_block .grid h2 {
  display: block;
  grid-column-start: 1;
  grid-column-end: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 1.875em;
  font-weight: 700;
}
.feature_block .grid .feature_item {
  text-align: center;
}
.feature_block .grid .feature_item p {
  font-size: 1.125em;
}
/*popular_models starts here*/
.popular_models {
  background-color: #fff3df;
  background-image: url("../IMG/Triangle-1.png");
  background-repeat: repeat-x;
  background-position: top;
  background-size: 20px;
  padding-top: 50px;
}
.popular_models .grid {
  grid-template-columns: 35px 1fr 1fr 1fr 35px;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 50px 0 50px 0;
  background-image: url("../IMG/paw.png");
  background-repeat: no-repeat;
  background-position: top;
}
.popular_models .grid .slider_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #cb881c;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}
.popular_models .grid button.slider_prew {
  background-image: url("../IMG/left.png");
}
.popular_models .grid button.slider_next {
  background-image: url("../IMG/right.png");
}
.popular_models .grid .popular_models__title {
  grid-column-start: 1;
  grid-column-end: -1;
}
.popular_models .grid .popular_models__title h2 {
  display: block;
  grid-column-start: 1;
  grid-column-end: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 1.875em;
  font-weight: 700;
  margin-bottom: 50px;
}
.popular_models .grid .popular_models__item {
  position: relative;
  min-height: 300px;
  background-color: #fff;
}
.popular_models .grid .popular_models__item button {
  margin: 0 auto;
  font-size: 0.875em;
  margin-top: 20px;
  cursor: pointer;
}
.popular_models .grid .popular_models__item span {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #f9ddb0;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  font-size: 1.125em;
  font-weight: 700;
}
.popular_models .grid .popular_models__form {
  grid-column-start: 2;
  grid-column-end: -2;
  border: 2px solid #f9ddb0;
  padding: 40px;
  text-align: center;
}
.popular_models .grid .popular_models__form h2 {
  font-size: 1.563em;
  font-weight: 700;
}
.popular_models .grid .popular_models__form p {
  margin-top: 30px;
}
.popular_models .grid .popular_models__form input {
  margin-top: 30px;
  text-align: center;
  padding: 12px;
  font-size: 0.750em;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  margin-top: 10px;
  color: #939393;
}
.popular_models .grid .popular_models__form button {
  width: 220px;
  margin: 0 auto;
  margin-top: 15px;
}
/*design-items starts here*/
.design_items {
  background-color: #5c4f40;
  background-image: url("../IMG/design-bg-2.jpg"), url("../IMG/design-bg-2.jpg"), url("../IMG/paw.png"), url("../IMG/design-bg.jpg");
  background-repeat: repeat-x, repeat-x, no-repeat, repeat;
  background-position: top, bottom, 50% 50px, center;
  color: #fff;
}
.design_items .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px auto auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 670px;
}
.design_items .grid .design_items__title {
  grid-column-start: 1;
  grid-column-end: -1;
}
.design_items .grid .design_items__title h3 {
  font-size: 1.875em;
}
.design_items .grid .design_items__unit {
  display: grid;
  grid-template-columns: 1rf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}
.design_items .grid .design_items__unit img {
  border-radius: 50%;
}
.design_items .grid .design_items__unit p {
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.5em;
  text-align: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
.design_items .grid .design_items__unit a {
  margin: 0 auto;
  text-align: center;
  font-size: 0.875em;
}
/*feedbacks starts here*/
.feedback .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px auto auto 50px;
  grid-gap: 20px;
  grid-auto-rows: 245px;
  background-image: url("../IMG/paw.png");
  background-repeat: no-repeat;
  background-position: 50% 50px;
  padding: 100px;
}
.feedback .grid .feedback_title {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 100px;
}
.feedback .grid .feedback_icon {
  width: 245px;
  min-height: 245px;
  background-image: url("../IMG/feedback-pic-bg-1.png");
  background-repeat: no-repeat;
  text-align: center;
}
.feedback .grid .feedback_icon img {
  border-radius: 50%;
  width: 190px;
}
.feedback .grid .feedback_text h3 {
  font-size: 1.125em;
  color: #291402;
}
.feedback .grid .feedback_text span {
  color: #9b7a5e;
}
.feedback .grid .feedback_text p {
  font-style: italic;
  color: #291402;
}
.feedback .grid .feedback_more {
  grid-column-start: 1;
  grid-column-end: -1;
}
.feedback .grid .feedback_more a {
  margin: 0 auto;
  text-align: center;
}
.feedback .grid .icon_1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.feedback .grid .feedback_1 {
  grid-column-start: 2;
  grid-column-end: -1;
}
.feedback .grid .icon_2 {
  grid-column-start: -1;
  grid-column-end: -2;
}
.feedback .grid .feedback_2 {
  grid-column-start: 1;
  grid-column-end: -2;
  text-align: right;
}
/*order_form starts here*/
.order_form {
  background-color: #fff3df;
  padding: 50px;
}
.order_form .grid {
  background-image: url("../IMG/paw.png");
  background-repeat: no-repeat;
  background-position: 50% 10px;
  padding: 50px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.order_form .grid .order_form__title {
  grid-column-start: 1;
  grid-column-end: -1;
}
.order_form .grid .order_form__feature {
  text-align: center;
  margin-top: 50px;
}
.order_form .grid .order_form__feature p {
  font-size: 1.125em;
  color: #232323;
}
.order_form .grid .order_form_field {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: stretch;
  min-height: 290px;
  border: 4px solid #f9ddb0;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}
.order_form .grid .order_form_field form input {
  text-align: center;
  padding: 12px;
  font-size: 0.750em;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  margin-top: 10px;
  outline: none;
}
.order_form .grid .order_form_field form button {
  width: 220px;
  margin: 0 auto;
  margin-top: 15px;
}
/*others starts here*/
/* Smartphones (portrait and landscape) ----------- */
