/*-----------------------vars--------------------*/
@base-color: #b6b6b6;
@base-font-size: 16px;


*{
	box-sizing: border-box;
	// outline: 1px solid green;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	display: block;
}


html{
	height: 100vh;
}
body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
}


.page__wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;

}
.flex-container{
	display: flex;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	// outline: 1px solid red;
	padding: 0px 15px 0px 15px;
}


main{
	flex: 1 0 auto;
	overflow: hidden;
	// min-height: 480px;
	

}
.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
}
.logo__block{
	text-align: center;
	margin: 0px 20px 20px 20px;
	
}






/*--------------------header styles are here-----------------*/
.main__header{
	flex: 0 0 auto;
	color: #fff;
	background: rgb(255,255,255);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(182,182,182,1) 40%, rgba(182,182,182,1) 60%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);

}
.header__top{
	justify-content: space-between;
	align-items: center;

}
.header__email{
	padding: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.email__icon{
		margin-right: 10px;
	}
}
.icon{
	width: 15px;
	height: 15px;
	svg{
		fill: #fff;
	}
}
.header__logo{
	width: 385px;
	height: 130px;
	background-image: url("../../img/svg/Header-logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	

}
.header__phone{
	padding: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.phone__icon{
		margin-right: 10px;
	} 

}
	.header__email,
	.header__phone{
		a{
			color: #fff;
		}
	}
@media (max-width: 768px){
	.main__header{
		padding: 20px 0 20px 0;

	}
	.header__top{
		flex-direction: column;

	}
	.header__email,
	.header__phone{
		color: #5a595a;
		font-size: 22px;

	}
	.header__logo{
		margin: 20px 0 20px 0;
	}


}
/*------------------------------------------------------------*/










/*------------------navigation styles are here----------------*/

.index__menu{
	flex: 0 0 auto;
	background-color: @base-color;
	min-height: 30px;
	-webkit-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
	z-index: 1;
	a{
		font-size: @base-font-size;
		color: #fff;
		padding: 8px 20px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		transition: all 0.5s;
		&.active{
			color: darken(@base-color, 30%);
			background-color: #fff;
		}
		&:hover{
			color: darken(@base-color, 30%);
		}
	}
}
.menu__wrapper{
	align-items: center;
	flex-wrap: wrap;
}
.menu__list{
	ul{
		color: #fff;
		align-items: center;
		li{
		}
	}

}
.user__list{
	margin-left: auto;
}
/*------------------navigation styles are here----------------*/





























/*------------------------index__main starts here-----------*/

.index__main{
	padding: 50px 0 50px 0;
	background-image: url("../../img/jpg/Panorama main view blured.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.slider__wrapper{
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.index__slider{

	height: 100%;
	flex-grow: 1;
	border-radius: 20px;
}
.slider__item{
	height: 100%;
	position: relative;
	padding: 20px;
	background-image: url("../../img/jpg/Panorama main view.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&_2{
		background-image: url("../../img/jpg/family room.jpg");
		background-position: center;
	}
	&_3{
		background-image: url("../../img/jpg/Picture 1.jpeg");
		background-position: center;
	}
}
.slide__title{
	color: #fff;
	font-size: 36px;
	margin-bottom: 20px;
	text-align: left;
	font-weight: 300;
}
.slide__signature{
	color: #fff;
}

.slick-list{
	height: 100%;
}

.slick-track{
	height: 100%;
	display: flex;
	overflow: hidden;
}

/*------------------------index__main ends here-----------*/





























/*------------------------iabout-us__main starts here-----------*/

.about-us{
	background-image: url("../../img/svg/Group.svg");
	background-repeat: no-repeat;
	background-size: cover;
	
	.container{
		height: 100%;
	}

}
.about-us__wrapper{
	height: 100%;

}
.about-us__slider{
	height: 100%;

}
.about-us__slide{
	height: 100%;

	justify-content: center;
	align-items: center;

}
.slider__image{
	border-radius: 20px;
	-webkit-box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	min-height: 490px;
	background-image: url("../../img/jpg/about-us-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	flex-basis: 40%;

}
.slider__info{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
	flex-basis: 60%;

}
.info__logo{
	align-self: center;

}
.info__text{
	font-size: 18px;
	color: #454040;
	p{
		padding: 10px;
		text-align: justify;
		
	}

}









/*---------------------------------main gallery starts here-------------------------------*/

.main__gallery{
	background-image: url("../../img/svg/Group.svg");
	.container{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		
	}

}
.gallery__wrapper{
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-between;

}
.gallery__item{
	margin: 5px;
	flex-basis: 160px;
	min-height: 215px;
	width: auto;
	border-radius: 15px;
	-webkit-box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 14px -2px rgba(0,0,0,0.75);
	margin-bottom: 40px;
	transition: all 0.5s;
	a{
		width: 100%;
		height: 100%;
	}

}
.gallery__item:hover{
	transform: scale(1.1);
}
.page__switch{
	justify-content: center;

}
.switch__btn{
	color: #000;
	font-size: 20px;
	padding: 0 20px;
	font-weight: 300;
}
.active__page{
	font-weight: bold;
}
/*---------------------------------main gallery starts here-------------------------------*/













/*---------------------------------main contacts  starts here-------------------------------*/
.main__contacts{
	background-image: url("../../img/svg/Group.svg");
	.container{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}
.contacts-wrapper{
	flex-wrap: wrap;
	justify-content: space-between;


}
.contacts__map{
}
.contacts__map,
.contacts__info{
	padding: 10px;
	width: 50%

}
.contacts__info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	a{
		color: #000;
	}
		
}
.contacts__form{
	legend{
		display: block;
	}
	padding: 0 20px;
	text-align: center;
	
	margin-top: 20px;
	input{
		width: 49%;
		border-radius: 5px;
		margin-bottom: 10px;
		font-size: 18px;
		color: #000;
	}
	textarea{
		width: 100%;
		border-radius: 5px;
		}
}
.form__email{
	margin-left: auto;
}
/*---------------------------------main contacts  ends here-------------------------------*/
















/*---------------------------------main feedback  starts here-------------------------------*/
.main__feedback{
	background-image: url("../../img/svg/Group.svg");
 
}
.feedback__wrapper{
	display: flex;

}
.feedback__content{
	flex-basis: 60%;

}
.feedback__item{
	display: flex;
	align-items: flex-start;

}
.feedback__img{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;

}
.feedback__text{
	font-size: 18px;
	padding: 0 20px 0 20px; 

}
.feedback__form{
	flex-basis: 40%;
	form{
		display: flex;
		flex-direction: column;
	}
	
}










/*-------------------------------footer styles start here-----------------------------------*/
.main__footer{
	width: 100%;
	padding: 5px 0 5px 0;
	flex: 0 0 auto;
	min-height: 40px;
	background-color: @base-color;
	color: #fff;
	margin-top: auto;
	-webkit-box-shadow: -1px 2px 12px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 12px -2px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 12px -2px rgba(0,0,0,0.75);
	z-index: 1;
	&__wrapper{
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}
.location{
	flex-basis: 33.333%;

}
.socials__block{
	flex-basis: 33.333%;
	justify-content: center;
	&__item{
		display: block;
		width: 20px;
		height: 20px;
		margin: 5px;
		svg{
			fill: #fff;
			width: 20px;
			height: 20px;
			transition: all 0.5s;
			&:hover{
				fill: darken(@base-color, 20%);
			}
		}
	}
}

.contacts__block{
	flex-basis: 33.333%;
}
