@font-face {
  font-family: "NeueMachina", sans-serif;
  src: url(../fonts/NeueMachina-Ultrabold.woff);
  font-weight: bold;
}
@font-face {
  font-family: "NeueMachina", sans-serif;
  src: url(../fonts/NeueMachina-Regular.woff);
  font-weight: regular;
}
@font-face {
  font-family: "NeueMachina", sans-serif;
  src: url(../fonts/NeueMachina-LIght.woff);
  font-weight: light;
}
