@import "variables.scss";
.images {
  background-image: url(../images/png/Dots.png),
    url(../images/png/Rectangle.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 50px right, top 50px right -50%;

  padding: 100px 0 50px 0;
  position: relative;
  &__title {
    p {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      line-height: 48px;
      margin-bottom: 40px;
      @media (max-width: 900px) {
        font-size: 24px;
      }
      @media (max-width: 728px) {
        font-size: 27px;
      }
    }
  }
  &__big {
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    @media (max-width: 900px) {
      font-size: 46px;
      b {
        font-size: 60px;
      }
    }
    @media (max-width: 728px) {
      font-size: 35px;
    }
    span {
      color: rgb(194, 10, 10);
      text-shadow: 2px 2px 0 #fff;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  @media (max-width: 1000px) {
    grid-template-columns: auto;
  }
  &__sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    & * {
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: 1.8;
      padding: 0 20px;
    }
    @media (max-width: 1000px) {
      grid-row-start: 3;
      grid-row-end: 4;
      p,
      img {
        display: none;
      }
    }
  }
  &__imageblock {
    grid-column-start: 2;
    @media (max-width: 1000px) {
      grid-column-start: 1;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      margin: 10px;
    }
    &:last-child {
      align-items: flex-start;
    }
  }
  &__textgroup {
    flex-basis: 50%;
    .textgroup__img {
      display: flex;
    }
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    p {
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      padding: 20px;
      font-weight: bold;
      @media (max-width: 900px) {
        display: none;
      }
    }
    @media (max-width: 728px) {
      display: none;
    }
  }
}
