@import "variables.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: $base-font-color;
  font-family: $base-font;
  font-size: $base-font-size;
  background-color: $body-color;
}
.page__wrapper {
  max-width: 1200px;
  background-color: $base-color;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  //position: relative;
  //min-height: 400px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  //outline: 1px solid plum;
  padding: 0 10px;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $base-font-color;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
.btn {
  color: #fff;
  background-color: $btn-color;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: lighten($body-color, 10);
  }
}
img {
  max-width: 100%;
}
.no-scroll {
  overflow: hidden;
}
