//page vars start here
$base-font: "NeueMachina", sans-serif;
$base-color: #fff;
$base-font-color: #000;
$base-font-size: 14px;
$link-color: rgb(107, 92, 231);
$btn-color: rgb(107, 92, 231);
$body-color: rgb(107, 92, 231);
