*{
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 0 20px 0 20px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
/* common styles */
.container{
    /* outline: 1px solid red; */
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5px 0 5px;
}
.flex{
    display: flex;
}
.btn{
    display: inline-block;
    font-size: 1.286em;
    border-radius: 4px;
    background-color: #fed136;
    width: 230px;
    padding: 25px 0 25px 0;
    color: #000;
    transition: 0.4s all;
    box-shadow: 3px 3px 13px #000;
}
.btn:hover{
    background-color: #f97463;
    color: #fff;
}
/* header starts here */
.main_header{
    background: url("../img/first-bg.jpg") no-repeat center top / cover;
    padding: 50px 0 50px 0;
}
.main_header__wrapper{
    justify-content: space-between;
    align-items: center;
}
.main_header__menu ul li{
    margin-left: 41px;
    text-transform: uppercase;  
}
.main_header__menu a{
    font-size: 1em;
    transition: 0.4s all;
    text-shadow: 3px 3px 13px #fed136;
}
.main_header__menu a:hover{
    color: #fed136;
}
.main_header__menu a:active{
    color: #f97463;
}
.main_header__mobile{
    display: none;
}
.main_header__titles{
    text-transform: uppercase;
    text-align: center;
    margin-top: 175px;
}
.main_header__titles h1{
    font-size: 2.143em;
    font-weight: 300;
}
.main_header__titles span{
    display: inline-block;
    font-size: 5em;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
}
@media screen and (max-width: 1024px){
    .main_header__wrapper{
        flex-direction: column;
    }
    .main_header__menu{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px){
    .main_header__menu{
        display: none;
    }
    .main_header__mobile{
        display: block;
    }
    .main_header__logo{
        flex-grow: 1;
    }
    .main_header__titles h1{
        font-size: 1.5em;
    }
    .main_header__titles span{
        font-size: 3.5em;
    }
}



/* services starts here */
.services{
    padding: 120px 0 120px 0;
    color: #000;
}
.services_title{
    text-align: center;
    margin-bottom: 80px;
}
.services_title h1{
    text-transform: uppercase;
    font-size: 2.857em;
}
.services_title p{
    font-size: 1.143em;
    color: #777;
}
.services_items{
    justify-content: space-between;
    flex-wrap: wrap;
}
.services_items__mobile{
    display: none;
}
.services_item{
    text-align: center;
    flex-basis: 30%;
}
.services_item img{
    margin: 20px;
}
.services_item h3{
    font-size: 1.286em;
}
.services_item p{
    color: #777;
    line-height: 24px;
}
@media screen and (max-width: 1024px){
    .services_item{
        flex-basis: 60%;
        margin-bottom: 60px;
        padding: 0 20px 0 20px;
    }
    .services_items{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .services_items{
        display: none;
    }
    .services_items__mobile{
        display: block;
    }
}